header{
    position: sticky;

    display: flex;
    justify-content: space-between;
    top: 20px;
}

body {
    background-color: #DFD2B9;
    font-family: Chivo;
}



.navbar {
    list-style: none;
    display: flex;
    

}
#skills{
height: 5544px;

}
li {
  
    padding: 15px;

}
