@font-face {
    font-family: 'Biro Script';
    font-style: normal;
    font-weight: normal;
    src: local('Biro Script'), url('./img/Biro_Script.woff2') format('woff2');
    }

header {
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    background-color: #DFD2B9;
    font-family: 'Chivo', 'Roboto', 'Open Sans', sans-serif;
    margin: 0px;
    height: 100%;
}

html {
    scroll-behavior: smooth;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: start;
    width: 115px;
    height: auto;
}

.navbar {
    list-style: none;
    display: flex;

}


li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.wrapper {
    background: #444218;
    font-size: 22px;
    border-radius: 800px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #DFD2B9;
}

.line--h1 {
    border-bottom: 5px orange solid;
    width: 30%;
}

.namep {
    font-weight: 100;
}

#namep--name {
    font-weight: 900;
}

.navbar li a {
    transition: all 0.3s ease-in-out;
}

.navbar li.active a {

    background-color: #EB5810;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 90px;

}

#accueil {

    background: url('./img/20230307_150344-min.jpg') no-repeat center center fixed;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.moving--text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 40px;
    color: #dab572;
    ;
}

.word--moving::before {
    content: " Developper";
    animation: animate infinite 5s;
    animation-timing-function: ease-in-out;
    padding-left: 15px;
    margin-left: 20px;
}

@keyframes animate {
    0% {
        content: "Developper";
        background-color: #EB5810;
    }

    50% {
        content: "Player";
        background-color: #444218;
    }


    100% {
        content: "Reader";
    }
}

section {
    height: 100vh;
}

#about-me {
    background: url('./img/arriere-plan-bois.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
}

.img-profile {
    width: 40vh;
    display: flex;

}

.wrapperwood {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.wrapperimg {
    justify-content: center;
    align-items: center;
}

.description--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.AGE {
    width: 44px;
    position: relative;
    bottom: 400PX;
    left: 49PX;
}

.paper--description {
    width: 80vh;
    padding-top: 40px;
}
.profilewrapper{display: flex;
justify-content: center;}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  .imgpost{
    width: 40vh;
    transform:rotate(90deg);

}
.postit-img{display: flex;
justify-content: center;}

.paradescription{
    position: absolute;
    width: 31vw;
    margin-left: 8vw;
    margin-top: 60px;
    top: 15vh;
    font-size: 2vh;
   
font-family: 'Biro Script';
}
.postitpara{position: absolute;
width: 150px;
}
.slider{width: 100%;height: 100%;display: flex; justify-content: center; flex-direction: column;}
.slider input{display: none;}
.testimonials{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item{
	width: 300px;
	padding: 30px;
	border-radius: 5px;
	background-color: #21262d;
	position: absolute;
	border:3px solid white;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}
.testimonials .item h1{font-size: 114px; color: white;}
.dots{display: flex; justify-content: center;align-items: center;}
.dots label{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"]{
	transform: scale(2);
	background-color: #fff;
	box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
	transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"]{
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"]{
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"]{
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"]{
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
	
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"]{
	
	z-index: 4;
}