header {
position: sticky;    

    display: flex;
    justify-content: space-between;
    top: 20px;
}

body {
    background-color: #DFD2B9;
    font-family: Chivo;
}



.navbar {
    list-style: none;
    display: flex;
}


li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.wrapper {
    background: #444218;
    font-size: 22px;
    border-radius: 800px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #DFD2B9;
}

.line--h1 {
    border-bottom: 5px orange solid;
    width: 30%;
}

.namep {
    font-weight: 100;
}

.namep--name {
    font-weight: 700;
}

.navbar li a {
    transition: all 0.3s ease-in-out;
}

.navbar li.active a {

    background-color: #EB5810;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 90px;

}

.bg--image{

background-image: url("/20230307_150344.jpg");

}

section {
    height: 90vh;
}